<div class="main">
    <div class="grid-container">
        <div  class="grid-item" *ngFor="let items of productList,index as i" >
            <div class="image-overlay" (click)="sendProductData(items)" [ngStyle]="{ 'background-color': colors[i % colors.length] }">
                <img src="{{items.image}}" alt="#" height="150px" width="150px">
                <div class="container">
                    {{items.name}}
                </div>
                <div class="text">
                        Price:{{items.price}}
                        Description:{{items.description}}
                </div>
            </div>
        </div>
        </div>
    </div>